@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&family=Source+Code+Pro:wght@300;400;700&display=swap');

:root{
    --corlor_one: rgba(0,0,0,0.5);
}

.about{
    font-family: 'Fira Code';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 16px;

    h1.sectionTitle{
        color: var(--corlor_one);
    }

    h2{
        text-align: center;
    }

    p{
        width: 100%;
        text-align: center;
        margin: 16px 0;
    }

    p.small{
        margin-top: 32px;
        font-size:10px;;
    }
}