*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  position: relative;
  height: 100vh;
}

.top_bg{
  z-index: -1;
  background-color:#ffff00;
  height:100px;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  box-shadow: 0 2px 8px black;
  transition: height 0.4 linear;
}

.bott{
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

/* [data-intro-end="true"] .bott{
  animation: fadeIn 3s ease;
  opacity: 1;
}

@keyframes fadeIn {
  from { opacity: 0;}
  to { opacity: 1; }
} */